:root{
    --colorbase:  #eaeded  ;
    --colorbase2: #5dade2  ;
    --colorbase3: #82e0aa ;
    --colorbase4: #fad7a0 ;
}
body{
    font-family: 'Mukta', sans-serif;
    margin: 0px auto;
}
.empresa{
    background-color: var(--colorbase2);
    margin: 0px auto;
    color: var(--colorbase);
}
.empresa2{
    background-color: var(--colorbase2);
    margin: 0px auto;
    color: var(--colorbase);
text-align: right;
}
.menu{
    background-color: var(--colorbase2);
    color: #fff;
    margin: 0px;
}
.productos{
    border-radius: 10px;
    padding: 20px;
    background-color: var(--colorbase);
}
.productos2{
    border-radius: 10px;
    padding: 20px;
    background-color: var(--colorbase);
}